* {
  box-sizing: border-box;
  margin: 0 !important;
}
body {
  min-width: 324px;
  background-color: #f5f5f5;
  /*background-color: black;*/
}
div.conatainer {
  margin: 10px !important;
}
div.block {
  background-color: white;
  margin-top: 20px !important;
}
.holiday-shoppers {
  background-image: url(../img/holiday-shoppers.jpg);
  height: 340px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.presents {
  background-image: url(../img/presents.jpg);
  height: 340px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-top: 20px !important;
}
.big-text {
  color: grey;
  width: 300px;
  margin-left: 20px !important;
  margin-top: 200px !important;
}
.small-image {
  min-width: 80px;
  height: 80px;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.how-to-content {
  background-image: url(../img/how-to-content.jpg);
}
.window {
  background-image: url(../img/window.jpg);
}
.yoplait {
  background-image: url(../img/yoplait.jpg);
}
.worth {
  background-image: url(../img/worth.jpg);
}
.text {
  padding-right: 10px;
  padding-left: 20px;
}
h2 {
  font-size: 18px;
  line-height: 1.4;
}
p {
  font-size: 14px;
  line-height: 1.9;
}
@media screen and (min-width: 768px) {
  .small-image {
    height: 160px;
  }
  .text {
    text-align: center;
  }
  .text h2 {
    margin-top: 30px !important;
  }
  .text p {
    margin-top: 40px !important;
  }
  .block {
    height: 340px;
    border: 10px solid #f5f5f5;
  }

}
@media screen and (min-width: 992px) {
  div.block {
    margin-top: 0 !important;
  }
  div.bottom {
    margin-top: 20px !important;
  }
  .presents {
    border: 10px solid #f5f5f5;
  }
  .holiday-shoppers {
    border: 10px solid #f5f5f5;
  }
  .text p {
    margin-top: 0px !important;
  }
}
