* {
  box-sizing: border-box;
  margin: 0 !important;
}
body {
  min-width: 324px;
  /*background-color: #f5f5f5;*/
  background-color: black;

}
div.block {
  background-color: white;
  margin-top: 20px !important;
}
.holiday-shoppers {
  background-image: url(../img/holiday-shoppers.jpg);
  height: 340px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.small-image {
  background-image: url(../img/how-to-content.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-width: 80px;
  height: 80px;
  padding: 0;
}
.text {
  padding-right: 10px;
  padding-left: 20px;
}
h2 {
  font-size: 18px;
  line-height: 1.4;
}
p {
  font-size: 14px;
  line-height: 1.9;
}
@media screen and (min-width: 768px) {
  .small-image {
    height: 160px;
  }
  .text {
    text-align: center;
  }
  .text h2 {
    margin-top: 30px !important;
  }
  .text p {
    margin-top: 40px !important;
  }
  .block {
    height: 330px;
  }

}
